* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.index {
	background-color: tan;
}

.hiddendex {
	position: fixed;
	top: 0;
	right: 0;
}

.hiddendex a {
	color: rgba(0,0,0,0);
}

#personal {
	background-color: white;
	background-image: linear-gradient(rgba(181,31,46,.33), rgba(181,31,46,.67) 75%);
	background-size: cover;
	height: 100%;
}

#technical {
	background-color: white;
	background-image: linear-gradient(rgba(7,89,140,.33), rgba(7,89,140,.67) 75%);
	background-size: cover;
	height: 100%;
}

#workplace {
	background-color: white;
	background-image: linear-gradient(rgba(58,58,60,.33), rgba(58,58,60,.67) 75%);
	background-size: cover;
	height: 100%;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 11.72vh;
}

.title h1 {
	font-size: 4.69vh;
}

.linklist {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88.28vh;
}

.linklist ul {
	list-style-type: none;
}

.linklist li {
	margin: 1em 0;
	font-size: 3.75vh;
	text-align: center;
}

.linklist a {
	width: 58.57vw;
	padding: .5em 0;
	text-decoration: none;
	color: white;
	background-color: cornflowerblue;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4));
	border: .78vh solid white;
	border-radius: 2.34vh;
	display: inline-block;
}

#about p {
	font-size: 4.69vh;
	margin: 0 2em;
}

.leftarrow {
	height: 15.63vh;
	position: fixed;
	bottom: 1.17vh;
	left: .88vw;
}

.rightarrow {
	height: 15.63vh;
	position: fixed;
	bottom: 1.17vh;
	right: .88vw;
}

.rightimg {
	height: 39.06vh;
	position: fixed;
	bottom: 24.41vh;
	right: 0px;
}

.leftimg {
	height: 39.06vh;
	position: fixed;
	bottom: 24.41vh;
	left: 0px;
}

.speech-bubble {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46.85vw;
	height: 39.06vh;
	background: #fff;
	position: fixed;
	left: 26.57vw;
	top: 5.86vh;
	-moz-border-radius: 3.13vh; 
	-webkit-border-radius: 3.13vh; 
	border-radius: 3.13vh;
}

.speech-bubble p {
	padding: 1em;
	line-height: 3.91vh;
	font-size: 2.54vh;
	font-weight: 700;
}

#sb-left:before {
	content:"";
	position: absolute;
	width: 0;
	height: 0;
	top: 34.96vh;
	right: 45.83vw;
	border-top: 4.49vh solid transparent;
	border-right: 4.69vw solid #fff;
	margin: -1.22vh 0 0 0;
 }

#sb-right:before {
	content:"";
	position: absolute;
	width: 0;
	height: 0;
	top: 34.96vh;
	left: 45.83vw;
	border-top: 4.49vh solid transparent;
	border-left: 4.69vw solid #fff;
	margin: -1.22vh 0 0 0;
 }

 @keyframes fade-in {
	from {opacity: 0; bottom: 17.09vh;}
	to {opacity: 1; bottom: 21.97vh;}
}

.component-intro {
	position: fixed;
	/*background-color: white;*/
	height: 24.41vh;
	width: 24.41vh;
	left: 40.85vw;
	bottom: 21.97vh;
	animation-name: fade-in;
	animation-duration: 1s;
}

.component-static {
	position: fixed;
	/*background-color: white;*/
	height: 24.41vh;
	width: 24.41vh;
	left: 40.85vw;
	bottom: 21.97vh;
}

 .bulletbar {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 29.87vw;
	height: 3.13vh;
	bottom: 7.81vh;
	left: 35.07vw;
 }

 .bullet {
	margin: 0 .59vw;
	width: 1.76vw;
	height: 1.76vw;
	outline: .39vh solid white;
	/*-webkit-border-radius: .88vw;
	-moz-border-radius: .88vw;*/
	border-radius: .88vw;
	background-color: lightgrey;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2));
 }

 #bullet-filled {
	background-color: cornflowerblue;
 }